/* @charset "UTF-8"; */
 @font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'GoryeongStrawberry', sans-serif;
	text-underline-position:under;
} 

html > body .ProseMirror, html > body .toastui-editor-contents {
	text-align: left;
	font-size: 1.25rem;
}

html > body .toast-ui-viewer .toastui-editor-contents {
	text-align: center;
}

html[data-theme="dark"] :is(.table-box-type-1 > table th, .table-box-type-1 > table td) {
	border-color: white;
}

.theme-toggle .fa-solid {
	display: none;
}

html[data-theme="dark"] .theme-toggle .fa-solid {
	display: inline;
}

html[data-theme="dark"] .theme-toggle .fa-regular {
	display: none;
}


.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color:white;
}

.btn-text-link:hover {
	color:olive;
/* 	text-decoration: underline; */
}

.border-bottom-line {
	border-bottom: 1px solid #d6cbcb;
}

.modal-exam, .popUp-exam {
	font-size: 2rem;
}

.layer-bg, .layer {
	display: none;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}

.layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	background-color: black;
	color: white;
	width: 500px;
	height: 500px;
	border:5px solid red;
}

.layer > h1 {
	padding: 20px;
	font-size: 1.5rem;
}

.layer > div {
	margin: 20px;
}

.layer > button {
	position: absolute;
	bottom: 20px;
	right:20px;
}

.layer > .close-x-btn {
	font-size: 4rem;
	position: absolute;
	top: -10px;;
	right: 20px;
	cursor: pointer;
}